* {
  font-family: 'Ubuntu';
}

body {
  background: #EDF6FF !important;
}

.alert {
  padding: 8px !important;
}

h2 {
  color: #0054A4 !important;
  text-align: center;
  margin: 20px !important;
  text-transform: uppercase;
  font-size: 15pt !important;
  font-weight: bold !important;
  

  &::first-letter {
    color: #009AC7;
    font-size: 17pt;
  } 
}


#container {
  width: 1040px;
  margin: auto;
  background: #FFFFFF;
  padding: 10px 20px;
  border-left: 1px solid #87A0B7;
  border-right: 1px solid #87A0B7;
}

.well {
  background: #EFFBFF !important;
  margin-bottom: 50px !important;
  border-color: #CBE5ED !important; 
}

input {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.full-width {
  width: 100%;
}


#footer {
  width: 1000px;
  height: 100px;
  color: #8ACDE2;
  font-weight: bold;
  font-size: 15pt;
  padding: 40px 120px;
  background: url('../images/footer.png');
}

.form-control {
  width: fit-content !important;
  padding: 3px 5px !important;
  height: 34px !important;
}





#table-sources {
  margin: 30px 0px;
  font-size: 10pt;
  width: 100%;
  
  td, th {
    border: 1px solid #BBBBBB;
    padding: 5px 4px;
    font-size: 9pt;
  }
  
  th {
    text-align: center;
    background: #ADCEED;
  }
  
  .child {
    display: none;
  }
  
  .parent {
    cursor: hand;
    font-weight: bold;
  }
  
  .attribute {
    width: 250px;
    background: #DDDDDD;
  }
  
  .value {
    width: 83px;
  }
  
  .unit {
    font-size: 7pt;
    color: #888888;
  }
  
  #environmental {
    td {
      background: #B8F2D2;
    }
  }
  
  .child-environmental {
    td {
      background: #D9F7E6;
    }
  } 
  
  #economic {
    td {
      background: #EFDAB8;
    }
  }
  
  .child-economic {
    td {
      background: #F4E4D7;
    }
  } 
  
  #social {
    td {
      background: #EEADFF;
    }
  }
  
  .child-social {
    td {
      background: #F7DBFF;
    }
  }
  
  #longterm {
    td {
      background: #FCB3B3;
    }
  }
  
  .child-longterm {
    td {
      background: #FFE0E0;
    }
  }
  
}


.user-input {
  td {
    padding: 0px 5px;
    vertical-align: top;
  }
}


.help {
  &:hover {
    cursor: help;
  }
}

.hand {
  &:hover {
    cursor: pointer;
  }
}



#legend {  
  span {
    margin: 5px 8px;
  }

  .disabled-legend {
    background: #666666 !important;
  }
  
  .fuel {
    background: #103E68;
  }
  
  .capex-actual {
    background: #009AC7;
  }  
  
  .opex-actual {
    background: #0054A4;
  }
  
  .environmental {
    background: #57A87A;
  }
  
  .economic {
    background: #EA9000;
  }
  
  .social {
    background: #864B96;
  }
  
  .longterm {
    background: #C10300;
  }
}






.navbar-default {
    background-image: linear-gradient(to bottom, #fff 0px, #EDF6FF 100%) !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075) !important;
}




.test {
  

  
  td, th {
    border: 1px solid #888888;
    padding: 5px;
  }
  
  
  th {
    background: #000000;
    color: #FFFFFF;
  }
  
  .method {
    background: #96D3FF;
  }
  
  .property {
    background: #FFF58E;
  }
  
}