* {
  font-family: 'Ubuntu';
}

body {
  background: #EDF6FF !important;
}

.alert {
  padding: 8px !important;
}

label {
  &:hover {
    cursor: pointer;
  }
}

.navbar-header a, #contact h2, #source h2, #comment h2, #footer h2 {
  color: #0054A4 !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 15pt !important;
  font-weight: bold !important;
  

  &::first-letter {
    color: #009AC7;
    font-size: 17pt;
  } 
}


#container {
  width: 1040px;
  margin: auto;
  background: #FFFFFF;
  padding: 10px 20px;
  border-left: 1px solid #87A0B7;
  border-right: 1px solid #87A0B7;
  border-bottom: 1px solid #87A0B7;
  
-webkit-box-shadow: 1px 1px 5px 4px #D2E3F4;
-moz-box-shadow:    1px 1px 5px 4px #D2E3F4;
box-shadow:         1px 1px 5px 4px #D2E3F4;

border-radius: 0px 0px 10px 10px;
}

.well {
  background: #EFFBFF !important;
  margin-bottom: 30px !important;
  border-color: #CBE5ED !important; 
}

#form-basic {
  padding: 7px;
}

#form-basic {
  input {
    text-align: right;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.full-width {
  width: 100%;
}


#footer {
  width: 1000px;
  height: 80px;
  font-weight: bold;
  font-size: 15pt;
  margin-top: 40px;
  background: url('../images/footer.png') no-repeat;
  border-top: 1px solid #8ACDE2;
  
  h2 {
    margin: 5px;
  }
  
  h3 {
    font-size: 8pt;
    text-align: center;
    margin: 0px;
    color: #0E5FAD; 
  }
  
  .copy {
    color: #169CC5;
    font-size: 8pt;
    text-align: center;
  }
}

input.form-control {
  width: fit-content !important;
  padding: 3px 5px !important;
  height: 34px !important;
}



.navbar {
  margin: 10px 0px !important;
  
  .btn {
    margin-top: 7px;
  }
}


#table-sources {
  font-size: 10pt;
  width: 100%;
  
  td, th {
    border: 1px solid #BBBBBB;
    padding: 5px 4px;
    font-size: 9pt;
  }
  
  th {
    text-align: center;
    background: #0E5FAD;
    color: #FFFFFF;
  }
  
  .parent {
    font-weight: bold;
  }
  
  .child {
    .attribute {
      padding-left: 15px;
    }
  }
  
  .attribute {
    width: 250px;
    background: #DDDDDD;
  }
  
  .value {
    width: 83px;
  }
  
  .unit {
    font-size: 7pt;
    color: #888888;
  }
  
  #environmental {
    td {
      background: #B8F2D2;
    }
  }
  
  .child-environmental {
    td {
      background: #D9F7E6;
    }
  } 
  
  #economic {
    td {
      background: #EFDAB8;
    }
  }
  
  .child-economic {
    td {
      background: #F4E4D7;
    }
  } 
  
  
  #lcoe {
    td {
      background: #BCDEF2;
    }
  }
  
  .child-lcoe {
    td {
      background: #D7E8F2;
    }
  } 
  
  #social {
    td {
      background: #EEADFF;
    }
  }
  
  .child-social {
    td {
      background: #F7DBFF;
    }
  }
  
  #longterm {
    td {
      background: #FCB3B3;
    }
  }
  
  .child-longterm {
    td {
      background: #FFE0E0;
    }
  }
  
  .total {
    td {
      background: #ADCEED;
      font-weight: bold;
    }
  }
  
}


.user-input {
  td {
    padding: 0px 5px;
    vertical-align: top;
  }
}


.help {
  &:hover {
    cursor: help;
  }
}

.hand {
  &:hover {
    cursor: pointer;
  }
}



#legend {  
  span {
    margin: 5px 8px;
  }

  .disabled-legend {
    background: #666666 !important;
  }
  
  .fuel {
    background: #103E68;
  }
  
  .capex-actual {
    background: #009AC7;
  }  
  
  .opex-actual {
    background: #0054A4;
  }
  
  .environmental {
    background: #57A87A;
  }
  
  .economic {
    background: #EA9000;
  }
  
  .social {
    background: #864B96;
  }
  
  .longterm {
    background: #C10300;
  }
}






.navbar-default {
    background-image: linear-gradient(to bottom, #fff 0px, #EDF6FF 100%) !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075) !important;
}



#source {
  ul {
    list-style: none;
  }
  
  .source {
    margin: 12px;
    padding-left: 10px;
    border-left: 3px solid #0E5FAD;
    
    .name {
      font-weight: bold;
      font-size: 12pt;
      color: #0E5FAD;
    }
    
    .magazine {
      font-weight: bold;
      color: #169CC5;
    }
  }
}


#comment {

  .comment {
    margin: 20px 3px;
    background-image: linear-gradient(to bottom, #ffffff 0px, #edf6ff 100%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
    border: 1px solid #DCE8F4;
    border-radius: 5px;
    padding: 5px 10px;
    
    .meta{
      font-size: 8pt;
      color: #169CC5;
    }
    
    .text{
      font-size: 10pt;
    }
  }
}

.badge {
  background: #169CC5 !important;
}



#energy {
  padding: 10px 20px;
  
  .col-md-4{
    text-align: center;
  }
  
  .energy-item {
    margin: 5px;
  }
}