* {
  font-family: 'Roboto Slab';
}

#container {
  width: 1000px;
  margin: auto;
  padding: 0px;
}

#footer {
  width: 1000px;
  height: 100px;
  color: #0E5FAD;
  padding: 50px 300px;
  background: url('../images/footer.png');
}





















.test {
  
  td, th {
    border: 1px solid #888888;
    padding: 5px;
  }
  
  th {
    background: #000000;
    color: #FFFFFF;
  }
  
  .method {
    background: #96D3FF;
  }
  
  .property {
    background: #FFF58E;
  }
  
}